<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Urdu Chatbot</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/index.css') }}"
    />
  </head>

  <body>
    <header class="header">
      <div class="container header__container">
        <div class="header__logo">
          <h1 class="header__title">
            URDU<span class="header__light">chatbot</span>
          </h1>
        </div>
        <div class="header__menu">
          <nav id="navbar" class="header__nav collapse">
            <ul class="header__elenco">
              <li class="header__el">
                <a href="{{ url_for('home') }}" class="header__link">Home</a>
              </li>
              <li class="header__el">
                <a href="{{ url_for('pricing') }}" class="header__link"
                  >Pricing</a
                >
              </li>
              <li class="header__el">
                <a href="{{ url_for('signup') }}" class="header__link"
                  >Sign up</a
                >
              </li>
              <li class="header__el header__el--blue">
                <a
                  href="{{ url_for('login') }}"
                  class="btn btn--white"
                  style="text-decoration: none"
                  >Login →</a
                >
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
    <div class="sect sect--padding-top">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="site">
              <h1 class="site__title">
                Our chatbot is here to make your life easier.
              </h1>
              <h2 class="site__subtitle">Start chatting now!</h2>
              <div class="site__box-link">
                <a
                  class="btn btn--width"
                  href="{{ url_for('pricing') }}"
                  style="text-decoration: none"
                  >Pricing</a
                >
                <a
                  class="btn btn--revert btn--width"
                  href=""
                  style="text-decoration: none"
                  >Contact</a
                >
              </div>
              <img
                class="site__img"
                src="https://image.ibb.co/c7grYb/image3015.png"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
