<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SignUp</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.1.0/mdb.min.css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/login.css') }}"
    />
  </head>

  <body>
    <section class="vh-100">
      <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-md-9 col-lg-6 col-xl-5">
            <img
              src="{{ url_for('static', filename='login-bg.png') }}"
              class="img-fluid"
              alt="login bg"
            />
          </div>
          <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
            <div class="divider d-flex align-items-center my-4">
              <p class="tesxt-center fw-bold mx-3 mb-0">Sign Up</p>
            </div>
            <form method="POST",action="{{ url_for('signup') }}" >
              <div class="needs-validation">
                <div class="was-validated">
                  <input
                    name="username"
                    value=""
                    type="text"
                    placeholder="Enter username"
                    class="form-control form-control-lg"
                    style="margin-bottom: 5px"
                    required
                  />
                </div>
                <div class="invalid-feedback"></div>
                <div class="was-validated">
                  <input
                    name="password"
                    value=""
                    type="password"
                    placeholder="Enter password"
                    class="form-control form-control-lg"
                    style="margin-bottom: 5px"
                    required
                  />
                </div>
                <div class="invalid-feedback"></div>
              </div>
              <div class="d-flex justify-content-between align-items-center">
              <div class="text-center text-lg-start mt-4 pt-1">
                <button
                  type="submit"
                  class="btn btn-primary btn-lg"
                  style="
                    padding-left: 2.5rem;
                    padding-right: 2.5rem;
                    background-color: rgb(0, 123, 252);
                  "
                >
                  SignUp
                </button>
              </div>
          </div>
        </div>
      </div>
    </form>
    </section>
    <footer class="sticky" style="background-color: #007bfc">
      <div
        class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5"
      >
        <div class="text-white mb-3 mb-md-0">
          Copyright © 2023. All rights reserved.
        </div>
      </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.min.js"></script>
  </body>
</html>
