body {
  font-family: Arial, sans-serif;
  background-color: #3d3b3b;
}

.chat-container {
  width: 96%;
  height: 100%;
  margin-top: 10px;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#chat-display {
  min-height: 490px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
}

#user-input {
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

#send-button {
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  background-color: #3a9fff;
  color: #ffffff;
  cursor: pointer;
}
.message {
  display: flex;
  margin-bottom: 10px;
}

.user {
  justify-content: flex-start;
}

.bot {
  justify-content: flex-end;
}

.message-text {
  padding: 10px;
  border-radius: 5px;
}

.user .message-text {
  background-color: #f5f5f5;
}

.bot .message-text {
  background-color: #3a9fff;
  color: #ffffff;
}
